<style>   
   table, th,td {
  border:1px solid #ddd;

}
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: 15px;
}
</style>


<p> check data enetred in the state, report illeagel entry

<table>        
        <tr>
            <th>name</th>
            <th>id</th>
            <th>property_name</th>
            <th>property_area</th>
            <th>property_location</hd>
            <th>hash</th>
        </tr>



    {{#each data}}
        <tr>    
       
            <td>{{name}}</td>
            <td>{{id}}</td>
            <td>{{property_name}}</td>
            <td>{{property_area}}</td>
            <td>{{property_location}}</td>
            <td>{{hash}}</td>
           
       
        </tr>       
    {{/each}}

</table>    