<table>    
    {{#each data}}
        <tr>    
       
            <td>{{name}}</td>
            <td>{{id}}</td>
            <td>{{property_name}}</td>
            <td>{{property_area}}</td>
            <td>{{property_location}}</td>
            <td>{{hash}}</td>
           
       
        </tr>       
    {{/each}}

</table>    